<!-- Modal -->
<div class="modal fade" id="modalSave" tabindex="-1" aria-labelledby="modalSave" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save to a playlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


          <label for="saveName">Playlist name:</label>
          <textarea rows=2 cols=50 id="saveName">{{new_name}}</textarea>
          <label for="saveNumber">Number:</label>
          <input id="saveNumber" min="1" max="{{data|length}}" value="{{data|length}}" type="number">
          <input id="saveRandom" type="checkbox">
          <label for="saveRandom">Shuffle</label>
          <button id="saveButton">Create playlist</button>


        <script>
          $( "#saveButton" ).click(function(event) {
            var name = $( "#saveName" ).val();
            var number= $( "#saveNumber" ).val();
            var random= $( "#saveRandom" ).is(":checked");
            createPlaylist(name,number,random);
            $( "#modalSave" ).modal('hide');
          });
        </script>

      </div>
    </div>
  </div>
</div>