<div id="collectionDetails" class="d-flex h-100 border-bottom border-secondary" style="display: none">
    <div class="d-flex justify-content-center" style="overflow:hidden; height: 25vh; width: 25vh;">
        <img id="collectionImage" src={{collection['image']}} class="rounded h-100" data-bs-toggle="modal"
             data-bs-target="#collectionCover">
    </div>
    <div class="mt-2 mb-5 mx-3 text-white">
        <h3 class="fw-bold ">{{collection['name']|limit_length(100)}}</h3>
        <h4>by {{collection['owner_name']}}</h4>
        <div class="fw-bold mt-4">{{collection['total']}} tracks</div>
        <div class="fw-bold" id="activeFiltersNumber"></div>
        <div class="fw-bold" data-included="0" id="includedTracksNumber"></div>

    </div>
    <!-- Collection actions -->
    <div class="ms-auto p-3">
        <button onclick="selectItem('{{collection['uri']}}', 'playlist', true)"> Refresh</button>
        {% if user %}
        <button data-bs-toggle="modal" data-bs-target="#modalSave"> Save</button>
        <button data-bs-toggle="modal" data-bs-target="#modalPlay"> Play</button>
        {% set popup_content = "These buttons let you interact with the playlist. The 'refresh' button reloads the
        playlist, including any changes that may have been made
        on Spotify. The 'play' button lets you play or queue only the songs that make it through the
        filters you've set. You can also save these songs to a new playlist with the 'save' button." %}
        {% include 'components/decoration/help_popup.html' %}
        {% else %}
        {% set popup_content = "The 'refresh' button reloads the playlist, including any changes that may have been made
        on Spotify. When you log in with Spotify, more buttons will appear, letting you create a new playlist or a queue
        based on the filters!" %}
        {% include 'components/decoration/help_popup.html' %}
        {% endif %}
    </div>
</div>

<script>
    $( "#collectionDetails" ).fadeIn();


</script>

{% set label = 'collectionCover' %}
{% set image = collection['image'] %}
{% include 'components/modals/modal_cover.html' %}
