<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify Buddy</title>

    <!--https://xd.adobe.com/view/9d8be161-9a58-4b41-911e-b582970a1c13-c8d8/-->

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JQuery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Own -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/triggers_scripts.js"></script>
    {% if user %}
    <script src="../static/js/auth_scripts.js"></script>
    {% endif %}

    {# {% set gradient = 'linear-gradient(90deg, rgb' + gradient_colors[0]|string + '0%, rgb' +
    gradient_colors[1]|string + ' 100%)' %}
    <style>.ui-slider-range {background: {{gradient}};}</style>
    #}
</head>

<body id="pageBody">

{# Overlay to fade out when bg gradient is loaded #}
<div id="bg-overlay" class="w-100 h-100 position-absolute" style="z-index:-2; background: black"></div>

<div class="row h-100">
    <div class="column col-lg-3">
        <div class="side-column h-100 d-flex flex-column flex-fill">
            {% if user %}
            {% include 'components/auth/logout.html' %}
            {% endif %}
            <div class="d-flex align-items-center mt-2">
                <h3 class="fw-bold text-white ps-4 pb-1 m-0">Spotify Buddy</h3>
                {# Include login prompt or currently playing #}
                <div class="ms-auto">
                    {% if user %}
                    <div id="currentlyPlaying"></div>
                    {% else %}
                    {% include 'frames/spotify_login.html' %}
                    {% endif %}
                </div>
            </div>
            {% include 'frames/search.html' %}
            <div id="selectedTrack" class="flex-grow-1 d-flex flex-column overflow-hidden mt-2">

            </div>
        </div>
    </div>

    <div class="column col-lg-6 px-2 pt-1">

        {% if not user %}
            <!-- Welcome message it will be replaced once a collection is loaded -->
            {% include 'welcome_page.html' %}
        {% endif %}

        <div id="collection-details" class="h-25" style="display:none">
            {# Placeholder for collection details #}
        </div>

        <div id="collection-tracks" class="h-75" style="display:none"></div>

        <div id="tracks-spinner" class="mt-5" style="display: none;">
            <!-- Collection tracks loading spinner -->
                {% set spinner_text = "Loading..." %}
                {% include 'components/decoration/spinner.html' %}
        </div>

    </div>

    <div class="column col-lg-3">
        <div id="collection-filters" class="side-column h-100 d-flex flex-column flex-fill">
            {# Placeholder for collection filters #}

        </div>
    </div>
</div>

</body>
</html>

{# If a collection ID is passed by the application, immediately request it #}
{% if collection %}
<script>
    selectItem('{{collection}}', 'playlist');
</script>
{% endif %}