<!-- Attributes: entry[uri, name, TD(miniature), (image), (artists)], TD(button:add,remove) -->

<li id="{{entry['uri']}}" class="px-0 collection-track search-result {% if not disabled %} item-enabled {% endif %} list-group-item d-flex align-items-center"
    onmousedown="selectItem(this.id, '{{item_type}}')" style="cursor: pointer !important;">

    <!-- Overlay for excluded results -->
    {% if disabled %}
    <div class="position-absolute h-100 w-100" style="background: black; opacity: .6;"></div>
    {% endif %}

    <!-- Miniature -->
    {% if entry['miniature'] %}
    <img class="ms-2" src="{{entry['miniature']}}" alt="{{ entry['name'] }} image" width="50" height="50">
    {% endif %}

    <!-- Name and artist -->
    <span class="px-2 overflow-hidden text-nowrap text-white">
        <span class="fw-bold">
        {# Allow longer names if there are no criteria columns taking up space #}
        {{ entry['name'] | limit_length(40 if criteria_stack else 100) }}
            </span>
        {% if entry['artists'] %}
            <br>
        {{entry['artists'] | limit_length(40 if criteria_stack else 100)}}
        {% endif %}
        </span>

    <!-- Sort criteria -->
    {% if criteria_stack %}
    <div  class="ms-auto flex-shrink-0 d-flex justify-content-around w-50 me-5">
        
        {# 'criterium' here is a dictionary key representing a collection attribute, with value of a dictionary containing valid filters (min, max, exclude etc.) #}
        {% for criterium in criteria_stack[:3] %}
            {% include 'components/labels/item_criterium.html' %}
        {% endfor %}
    </div>
    {% endif %}

</li>