<!-- Attributes: entry[uri, name, TD(miniature), (image), (artists)], TD(button:add,remove) -->

<li id="{{entry['uri']}}" class="px-0 collection-track search-result {% if not disabled %} item-enabled {% endif %} list-group-item d-flex align-items-center"
    onmousedown="selectItem(this.id, '{{item_type}}')">

    <!-- Miniature -->
    {% if entry['miniature'] %}
    <img class="ms-2" src="{{entry['miniature']}}" alt="{{ entry['name'] }} image" width="50" height="50">
    {% endif %}

    <!-- Name and artist -->
    <span class="px-2 overflow-hidden text-nowrap text-white">
        <span class="fw-bold">
        {{ entry['name'] | limit_length(40) }}
            </span>
        {% if entry['artists'] %}
            <br>
        {{entry['artists'] | limit_length(40)}}
        {% endif %}
        </span>

</li>